ul {
    list-style: none;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45rem;
    margin: 2rem auto;
    background-color: #256D85; 
    border-radius: 2rem;
    padding: 2rem 1rem;
}
h1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

li {
    border: 1px solid #DFF6FF;
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
}

a:hover li{
    border: 1px solid #06283D;
    transition: .3s;
    box-shadow: 5px 5px 5px 5px #06283D;
}
a:hover h2{
    color: #06283D;
    transition: .3s;
}